# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Data directories containing all of the scraped html pages
GuitarCenter/product_pages_full
GuitarCenter/browsing_pages

# Full html pages
product_pages_full

# Python data
*.pkl
*__pycache__


# Stuff from vim
*~
*.swp

# stuff from the gecko driver
scraper/geckodriver.log
