body {
    /* background-color: rgb(50,50,50); */
    color: lightgray;
    background-image: url('Guitar_Background.png');
    background-position: center;
    /* width: 100%; */
    /* height: 100%; */
    
    
}

h1 {
    color: lightgray;
}

article {
    margin: 3em;
    border: 2em;
    padding: 2em;
    background-color: rgba(200,200,200,.9);
    color: rgb(50,50,50);
    /* align-items: center; */
    /* place-content: center; */
    position: relative;
    border-radius: 1em;
}

.footer {
    flex-grow: 10;
    flex-shrink: 0;
    position: absolute;
    bottom: 0px;
    padding: 1em;
    background-color: rgb(50,50,50);
    

}

.PS_button {
    text-align: center;
    padding: .5em;
    margin: 1em;
    
}

.LargeEntry {
    /* margin: 1em; */
    /* padding: 2em;  */
    border-color: rgb(50,50,50);
    border-width: 0em;
    min-height: 10ch;
    /* text-align: start; */
    /* align-self: stretch; */
    width: 100%;
    resize: none;

}

.nested {
    margin: 2em;
}