body {
    /* background-color: rgb(50,50,50); */
    color: lightgray;
    background-image: url('Guitar_Background.png');
    background-position: center;
    
    
}

h1 {
    color: lightgray;
}

article {
    margin: 3em;
    border: 2em;
    padding: 2em;
    background-color: rgba(200,200,200,.9);
    color: rgb(50,50,50);
    /* align-items: center; */
    /* place-content: center; */
    position: relative;
    border-radius: 1em;
}

#footer {
    flex-grow: 0;
    flex-shrink: 0;
    position:relative;
    bottom: 0px;
    padding: 1em;
    background-color: black;

}

.PS_button {
    text-align: center;
    padding: .5em;
    margin: 1em;
    
}