{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}

{% block content %}

<h1> Meet Your Guitar </h1>

<article> 
    Welcome to the <b>Meet Your Guitar</b> recommendation engine, 
    a final project by Kevin Bodkin and Joe Solomon for the 
    2023 Winter Quarter of MSDS 432.

    <br><br>
    This program contains records of thousands of guitars scraped from <a href="guitarcenter.com">Guitar Center,</a>
    an online store for guitars and other musical instruments. If we were to extend this project in the future, we would
    likely scrape from several more websites to expand our data even further.

    <br><br>
    This programs requires a local instance of <a href="EdgeDB">EdgeDB</a> to be running. For more information on that process,
    please view the ReadMe that is available in the base code directory or on the 
    <a href="github.com/kb0dkin/MSDS459_project">github repository</a>

</article>

<article>

    <h2>Guitar Recommendations</h2>

    Describe for your dream guitar! This page allows a user to specify attributes
    of their guitar, then find matching instruments

    <br><br>
    <form>
    <button type="submit" class="PS_button" 
        formaction="{{ button_list['Recommender']['action'] }}"
        formmethod="post">
        Recommender
    </button>
    </form>

</article>


<article>


    <h2>Data Exploration</h2>

    Explore the data and look through interesting connections!
    
    <br><br>
    <form>
    <button type="submit" class="PS_button" 
        formaction="{{ button_list['DataExploration']['action'] }}"
        formmethod="post">
        Data Exploration
    </button>
    </form>

</article>

{% endblock %}
