{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<article>
    <h2>Look for a guitar</h2>

    What type of guitar would you like? Place some data into the form below, and get recommendations

    <br><br>
    <form method="get">
        <input type="text" id="KV_request" name="request" class="LargeEntry"/>
        <br>
        <button type="submit" id="KV_submit" name="KV_submit" formaction="KV_request">Key/Value Search</button>
        <button type="submit" id="NLP_submit" name="NLP_submit" formaction="NLP_request">NLP Search</button>
    </form>


{% endblock %}
